In [32]:
import pandas as pd
import soundfile as sf
import tqdm
import numpy as np
import glob

In [25]:
fname = 'train_fp'
d = pd.read_csv(f'/datasets/data/birds/{fname}.csv')

In [26]:
srs = []
lens = []
for x in tqdm.tqdm(d['recording_id']):
    a, sr = sf.read(f'/datasets/data/birds/train/{x}.flac')
    srs.append(sr)
    lens.append(a.shape[0] / sr)

100%|██████████| 7781/7781 [03:24<00:00, 38.00it/s]

In [27]:
d['sample_rate'] = srs
d['audio_len'] = lens
d['song_len'] = d['t_max'] - d['t_min']
d['freq_range_size'] = d['f_max'] - d['f_min']

In [28]:
d.to_csv(f'/datasets/data/birds/{fname}_prep.csv', index=False)

In [14]:
d['lens'].unique()

array([60.])

In [33]:
fs = glob.glob('/datasets/data/birds/test/*.flac')

In [36]:
srs = []
lens = []
for x in tqdm.tqdm(fs):
    a, sr = sf.read(f'{x}')
    srs.append(sr)
    lens.append(a.shape[0] / sr)

100%|██████████| 1992/1992 [00:53<00:00, 37.35it/s]

In [38]:
np.unique(lens)

array([60.])

In [39]:
d

,recording_id,species_id,songtype_id,t_min,f_min,t_max,f_max,sample_rate,audio_len,song_len,freq_range_size
0,00204008d,21,1,13.8400,3281.2500,14.9333,4125.0000,48000,60.0,1.0933,843.7500
1,00204008d,8,1,24.4960,3750.0000,28.6187,5531.2500,48000,60.0,4.1227,1781.2500
2,00204008d,4,1,15.0027,2343.7500,16.8587,4218.7500,48000,60.0,1.8560,1875.0000
3,003b04435,22,1,43.2533,10687.5000,44.8587,13687.5000,48000,60.0,1.6054,3000.0000
4,003b04435,23,1,9.1254,7235.1562,15.2091,11283.3984,48000,60.0,6.0837,4048.2422
...,...,...,...,...,...,...,...,...,...,...,...
7776,ffd88cd84,14,1,3.2000,2531.2500,3.7867,5531.2500,48000,60.0,0.5867,3000.0000
7777,ffebe7313,1,1,35.2000,3843.7500,36.0960,5625.0000,48000,60.0,0.8960,1781.2500
7778,fff163132,17,4,22.5547,1312.5000,25.0880,7406.2500,48000,60.0,2.5333,6093.7500
7779,fff163132,14,1,37.0827,2531.2500,37.6693,5531.2500,48000,60.0,0.5866,3000.0000
7780,fffb79246,6,1,8.3573,562.5000,10.5013,4406.2500,48000,60.0,2.1440,3843.7500